@model MVC_parte1.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <h3>Wellcome XD</h3>
        <form method="post" action="Index">

            <input type="submit" name="id_boton" value="Ir al formulario" />
        </form>
    </div>
</body>
</html>
