@model MVC_parte1.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persona</title>
</head>
<body>
    <div>
        <label>Mi nombre es: @Model.Nombre <br /></label>
        <label>Los cuatrimestre son: @Model.Cuatrimestre <br /></label>
        <label>Mi edad es: @Model.Edad <br /></label>
        <label>Mi Carrera es: @Model.Carrera <br /></label>
    </div>
</body>
</html>
